In [115]:
import pandas as pd

In [116]:
df_train = pd.read_csv('../dataset/train.csv')
df_test = pd.read_csv('../dataset/test.csv')
df_original = pd.read_csv('../dataset/original.csv')

In [117]:
df_train = df_train.drop(['id', 'CustomerId'], axis=1)
df_original = df_original.drop(['RowNumber', 'CustomerId'], axis=1)

In [118]:
df_original.head()

,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,Hargrave,619,France,Female,42.0,2,0.00,1,1.0,1.0,101348.88,1
1,Hill,608,Spain,Female,41.0,1,83807.86,1,0.0,1.0,112542.58,0
2,Onio,502,France,Female,42.0,8,159660.80,3,1.0,0.0,113931.57,1
3,Boni,699,France,Female,39.0,1,0.00,2,0.0,0.0,93826.63,0
4,Mitchell,850,Spain,Female,43.0,2,125510.82,1,NaN,1.0,79084.10,0

In [119]:
df_train.head()

,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,Okwudilichukwu,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97,0
1,Okwudiliolisa,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50,0
2,Hsueh,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69,0
3,Kao,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88,0
4,Chiemenam,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83,0

In [120]:
df_train = pd.concat([df_train, df_original], axis=0)

In [121]:
df_train = df_train.drop_duplicates()
df_train = df_train.dropna()

In [122]:
df_train.isna().sum()

Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [123]:
from sklearn.feature_extraction.text import TfidfVectorizer
import gc

def dummy(text):
    return text

vectorizer = TfidfVectorizer(ngram_range=(3, 5), 
                             lowercase=False, 
                             sublinear_tf=True, 
                             analyzer='word',
                             tokenizer=dummy,
                             preprocessor=dummy,
                             token_pattern=None, 
                             strip_accents='unicode', 
                             max_features=5000)

train_surnames = vectorizer.fit_transform(df_train["Surname"])

test_surnames = vectorizer.transform(df_test["Surname"])

del vectorizer
gc.collect()

26

In [124]:
from sklearn.decomposition import PCA

pca = PCA(n_components=100)
tfidf_train_pca = pca.fit_transform(train_surnames.toarray())
tfidf_test_pca = pca.transform(test_surnames.toarray())

pca_columns = [f'Surname_PCA_{i+1}' for i in range(100)]
df_train_pca = pd.DataFrame(tfidf_train_pca, columns=pca_columns)
df_test_pca = pd.DataFrame(tfidf_test_pca, columns=pca_columns)

In [125]:
df_train_pca

,Surname_PCA_1,Surname_PCA_2,Surname_PCA_3,Surname_PCA_4,Surname_PCA_5,Surname_PCA_6,Surname_PCA_7,Surname_PCA_8,Surname_PCA_9,Surname_PCA_10,...,Surname_PCA_91,Surname_PCA_92,Surname_PCA_93,Surname_PCA_94,Surname_PCA_95,Surname_PCA_96,Surname_PCA_97,Surname_PCA_98,Surname_PCA_99,Surname_PCA_100
0,-0.037912,-0.070237,0.352776,0.065242,0.051466,0.020791,0.015929,0.015047,0.030594,0.034237,...,0.012735,0.019521,0.000089,-0.000469,0.016500,-0.036323,-0.024039,0.010783,0.030672,0.031390
1,-0.021052,-0.033958,0.083013,-0.010173,0.045185,0.006596,0.004423,0.003261,0.004613,0.002986,...,0.010920,0.013545,-0.013625,0.003990,0.036090,-0.061010,-0.032086,0.033236,0.015535,0.067378
2,-0.022202,-0.032305,-0.045449,-0.042397,-0.052621,-0.033647,-0.030952,-0.034154,-0.093391,-0.167023,...,-0.004002,-0.001870,0.001472,-0.003111,0.002485,-0.006186,0.001581,-0.001998,-0.000919,0.001830
3,-0.023986,-0.035952,-0.054045,-0.060781,-0.086254,-0.068833,-0.070393,-0.097438,-0.549720,0.798019,...,0.000390,0.000467,0.000667,0.001174,-0.000208,0.000608,-0.000331,-0.000464,-0.000339,-0.001002
4,-0.016914,-0.014579,-0.013706,-0.015673,-0.016845,-0.009870,-0.007211,-0.008291,-0.019634,-0.027614,...,-0.055678,0.048078,-0.084401,-0.132637,0.030065,-0.062248,0.018689,0.040683,-0.038250,-0.027924
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174761,-0.010873,-0.013927,-0.012808,-0.009400,-0.009521,-0.005141,-0.004417,-0.004368,-0.009850,-0.012887,...,-0.003865,-0.004526,0.007079,-0.009265,0.000533,-0.003483,0.004285,0.005315,0.007853,0.005332
174762,-0.012673,-0.016600,-0.016077,-0.011964,-0.012754,-0.006849,-0.005914,-0.005876,-0.013377,-0.017724,...,-0.207123,-0.134887,-0.073153,0.008066,-0.228026,0.013244,-0.118015,0.079805,0.053204,-0.224052
174763,-0.010594,-0.013525,-0.012359,-0.008902,-0.009387,-0.004950,-0.004254,-0.004190,-0.009421,-0.012284,...,-0.001106,-0.001253,-0.001600,-0.004197,0.000809,-0.002082,0.001451,0.002138,0.001483,0.002844
174764,-0.011472,-0.014847,-0.014135,-0.010552,-0.010756,-0.005868,-0.005080,-0.005050,-0.011503,-0.015263,...,-0.003803,0.004750,0.002554,-0.004376,0.006159,0.000797,0.003203,0.001605,0.001567,-0.000719
174765,-0.014926,-0.020090,-0.017789,-0.015033,-0.016539,-0.009049,-0.007852,-0.007879,-0.018172,-0.024507,...,0.002519,0.002015,0.002525,0.005558,-0.000364,0.000232,-0.001643,-0.000803,-0.002484,-0.002763

In [126]:
df_train.reset_index(drop=True, inplace=True)
df_train_pca.reset_index(drop=True, inplace=True)

df_train = pd.concat([df_train, df_train_pca], axis="columns")

In [127]:
df_test.reset_index(drop=True, inplace=True)
df_test_pca.reset_index(drop=True, inplace=True)

df_test = pd.concat([df_test, df_test_pca], axis="columns")

In [128]:
df_train = df_train.drop("Surname", axis=1)
df_test  = df_test.drop("Surname", axis=1)

In [129]:
df_train.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,...,Surname_PCA_91,Surname_PCA_92,Surname_PCA_93,Surname_PCA_94,Surname_PCA_95,Surname_PCA_96,Surname_PCA_97,Surname_PCA_98,Surname_PCA_99,Surname_PCA_100
0,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97,...,0.012735,0.019521,0.000089,-0.000469,0.016500,-0.036323,-0.024039,0.010783,0.030672,0.031390
1,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50,...,0.010920,0.013545,-0.013625,0.003990,0.036090,-0.061010,-0.032086,0.033236,0.015535,0.067378
2,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69,...,-0.004002,-0.001870,0.001472,-0.003111,0.002485,-0.006186,0.001581,-0.001998,-0.000919,0.001830
3,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88,...,0.000390,0.000467,0.000667,0.001174,-0.000208,0.000608,-0.000331,-0.000464,-0.000339,-0.001002
4,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83,...,-0.055678,0.048078,-0.084401,-0.132637,0.030065,-0.062248,0.018689,0.040683,-0.038250,-0.027924

In [130]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

columns = ['Gender'] 

for col in df_train[columns]:
    enc = label_encoder.fit(df_train[col])
    encoded = label_encoder.transform(df_train[col])
    df_train[col] = encoded
    
for col in df_test[columns]:
    enc = label_encoder.fit(df_test[col])
    encoded = label_encoder.transform(df_test[col])
    df_test[col] = encoded

In [131]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(handle_unknown='ignore', sparse_output = False).set_output(transform='pandas')

ohetransform = ohe.fit_transform(df_train[['Geography']])
ohetransform

df_train = pd.concat([df_train, ohetransform], axis=1).drop(columns=["Geography"])

ohetransform = ohe.fit_transform(df_test[['Geography']])
ohetransform

df_test = pd.concat([df_test, ohetransform], axis=1).drop(columns=["Geography"])

In [132]:
X = df_train.drop('Exited', axis=1)
y = df_train['Exited']

In [133]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled_df = pd.DataFrame(X_scaled, index=X.index, columns=X.columns)

X_train, X_test, y_train, y_test = train_test_split(X_scaled_df, y, test_size=0.2, random_state=42)

print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

print("Training set class distribution:\n", y_train.value_counts())
print("Testing set class distribution:\n", y_test.value_counts())

X_train shape: (139812, 112)
X_test shape: (34954, 112)
y_train shape: (139812,)
y_test shape: (34954,)
Training set class distribution:
 Exited
0    110403
1     29409
Name: count, dtype: int64
Testing set class distribution:
 Exited
0    27420
1     7534
Name: count, dtype: int64

In [134]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error

param_grid = {
    'n_estimators': [100],
    'max_depth': [5],
    'learning_rate': [0.1],
    'min_samples_split': [2],
    'min_samples_leaf': [8]
}

grid_search = GridSearchCV(estimator=GradientBoostingRegressor(random_state=0),
                           param_grid=param_grid,
                           cv=2,
                           scoring='neg_mean_squared_error',
                           n_jobs=-1,
                           verbose=2)

grid_search.fit(X_train, y_train)

print("Best parameters:", grid_search.best_params_)

best_gbr = grid_search.best_estimator_

y_pred_best = best_gbr.predict(X_test)

mse_best = mean_squared_error(y_test, y_pred_best)
print("Best Mean Squared Error:", mse_best)

Fitting 2 folds for each of 1 candidates, totalling 2 fits
Best parameters: {'learning_rate': 0.1, 'max_depth': 5, 'min_samples_leaf': 8, 'min_samples_split': 2, 'n_estimators': 100}
Best Mean Squared Error: 0.09878312469356064